a:hover{
    color:#c17ae6;
}
#main{
    border-top-color:#af5adb;
}
#header #menu li.current_page_item a, 
#header #menu li.current-menu-parent a, 
#header #menu li.current_page_parent a, 
#header #menu li a.selected, 
#header #menu li a:hover{
    background: #af5adb;
}
a,
.testimonial-wrap .testimonial-content .testimonial-title{
    color: #af5adb;
}
.testimonial-wrap .testimonials{
    border-color: #af5adb;
}
#slider_wrapper .flex-control-paging li a:hover ,
#slider_wrapper .flex-control-paging li a.flex-active,
.post .post-title a:hover,
.featured-wrap .featured-content a:hover{
    color:#af5adb;
}
#header .highlight,
#sidebar .sidebar-widget a:hover,
.post .post-meta #post_meta li a:hover{
    color: #af5adb;
}
.tagline .tabline-btn{
    background-color:  #af5adb;
}